<h1>Welcome to FindPark!</h1>

<p>
    Hello! With this website you can find out what you are looking for with public parks!
</p>
<a href="/reports" class="btn btn-primary">Go to Reports</a>
<a href="/nat" class="btn btn-primary">Go to National Parks</a>
<div id='map' style='width: 500px; height: 500px;'></div>
<button id="FindParks" type="submit">Find Parks</button>

<script src="https://api.mapbox.com/search-js/v1.0.0-beta.24/web.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.css' rel='stylesheet' />
<script src="../public/javascripts/getMap.js"></script>